@page "/users"
@using System.Reflection.Metadata
@inject UserService UserService
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ISnackbar Snackbar
<div id="connectionType"></div>
<div class="video-container" id="videoContainer">

    <video id="localVideo" autoplay playsinline class="local-video minimized" hidden="@isLocalVideoMinimized" @ondblclick="SwapVideoStreams"></video>
    <video id="remoteVideo" autoplay playsinline class="remote-video"></video>
    @if (isInCall)
    {
        <div class="toolbar" id="toolbar">
            <MudTooltip Text="@(isVideoStopped ? "Start Video" : "Stop Video")">
                <MudIconButton Icon="@(isVideoStopped ? Icons.Material.Filled.VideocamOff : Icons.Material.Filled.Videocam)" Color="@(isVideoStopped ? Color.Default : Color.Error)" Size="Size.Small" Id="stopVideoButton" @onclick="StopVideo"/>
            </MudTooltip>
            <MudTooltip Text="@(isAudioMuted ? "Unmute" : "Mute")">
                <MudIconButton Icon="@(isAudioMuted ? Icons.Material.Filled.MicOff : Icons.Material.Filled.Mic)" Color="@(isAudioMuted ? Color.Default : Color.Error)" Size="Size.Small" Id="muteAudioButton" @onclick="MuteAudio"/>
            </MudTooltip>
            <MudTooltip Text="Take Screenshot">
                <MudIconButton Icon="@Icons.Material.Filled.CameraAlt" Size="Size.Small" @onclick="TakeScreenshot"/>
            </MudTooltip>
            @if (isScreenShared)
            {
                <MudTooltip Text="Stop Screen Share">
                    <MudIconButton Icon="@Icons.Material.Filled.StopScreenShare" Size="Size.Small" Color="Color.Error" Id="stopScreenShareButton" @onclick="StopScreenShare"/>
                </MudTooltip>
            }
            else
            {
                <MudTooltip Text="Share Screen">
                    <MudIconButton Icon="@Icons.Material.Filled.ScreenShare" Size="Size.Small" Id="shareScreenButton" @onclick="ShareScreen"/>
                </MudTooltip>
            }
            @if (isLocalVideoMinimized)
            {
                <MudTooltip Text="Maximize Video">
                    <MudIconButton Icon="@Icons.Material.Filled.Maximize" Color="Color.Error"  Size="Size.Small" Id="maximizeVideoButton" @onclick="() => { isLocalVideoMinimized = false; }"/>
                </MudTooltip>
            }
            else
            {
                <MudTooltip Text="Minimize Video">
                    <MudIconButton Icon="@Icons.Material.Filled.Minimize" Size="Size.Small" Id="minimizeVideoButton" @onclick="() => { isLocalVideoMinimized = true; }"/>
                </MudTooltip>
            }
            <MudTooltip Text="Toggle Full Screen">
                <MudIconButton Icon="@Icons.Material.Filled.Fullscreen" Size="Size.Small" Id="fullscreenButton" @onclick="ToggleFullScreen"/>
            </MudTooltip>
            <MudTooltip Text="Upload File">
                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles" Style="margin-top:0">
                    <ButtonTemplate>
                        <MudIconButton HtmlTag="label"
                                       Icon="@Icons.Material.Filled.FileUpload"
                                       Size="Size.Small"
                                       for="@context.Id">
                        </MudIconButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudTooltip>
            <MudTooltip Text="End Call">
                <MudIconButton Icon="@Icons.Material.Filled.CallEnd" Color="Color.Error" Size="Size.Small" @onclick="EndCall"/>
            </MudTooltip>
        </div>
    }
</div>

<MudPaper Class="pa-4">
    <MudText Typo="Typo.h5">Online Users</MudText>
    <MudList>
        @foreach (var user in UserService.ConnectedUsers.Distinct())
        {
            foreach (var userInfo in user)
            {
                <MudListItem>
                    <MudGrid>
                        <MudItem xs="8">
                            <MudText>@(string.IsNullOrEmpty(userInfo.Name) ? userInfo.UserName : userInfo.Name) (Client Type: @userInfo.ClientType)</MudText>
                        </MudItem>
                        <MudItem xs="4" Class="d-flex justify-end">
                            @if (!isInCall && UserService.CurrentUser.UserName != userInfo.UserName && (callingUser != userInfo.UserName || receivingUser != userInfo.UserName))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Call" Size="Size.Small" @onclick="() => { useVideo = false; InitiateCall(userInfo); }"/>
                                <MudIconButton Icon="@Icons.Material.Filled.VideoCall" Size="Size.Small" @onclick="() => { useVideo = true; InitiateCall(userInfo); }"/>
                            }
                        </MudItem>
                    </MudGrid>
                </MudListItem>
            }
        }
    </MudList>

    <input type="file" id="fileInput" style="display: none;"/>
    <button id="sendFileButton" onclick="sendFile()">Send File</button>

    @if (isCalling)
    {
        <MudText Typo="Typo.subtitle1" Color="Color.Error">@callMessage</MudText>
    }

    <MudDialog @bind-IsVisible="showIncomingCallDialog">
        <DialogContent>
            <MudText Typo="Typo.h6">@incomingCallMessage</MudText>
            @if (requestVideoCall)
            {
                <MudCheckBox @bind-Value="useVideo">Use Video</MudCheckBox>
            }
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Primary" OnClick="AnswerCall">Answer</MudButton>
            <MudButton Color="Color.Error" OnClick="RejectCall">Reject</MudButton>
        </DialogActions>
    </MudDialog>
</MudPaper>

@code {
    private bool isInCall = false;
    private bool isCalling = false;
    private bool showIncomingCallDialog = false;
    private bool requestVideoCall = false;
    private bool useVideo = false;
    private string receivingUser = null;
    private string callingUser = null;
    private string callMessage = null;
    private string incomingCallMessage = null;
    private string _callingClientConnectionid = null;
    private string _answeringClientConnectionid = null;

    private bool isScreenShared = false;
    private bool isVideoStopped = false;
    private bool isAudioMuted = false;
    private bool isLocalVideoMinimized = false;


    protected override async Task OnInitializedAsync()
    {
        UserService.OnUsersUpdated += StateHasChanged;
        UserService.OnCallStarted += HandleCallStarted;
        UserService.OnCallEnded += HandleCallEnded;
        UserService.OnIncomingCall += HandleIncomingCall;
        UserService.OnCallRejected += HandleCallRejected;
        UserService.OnCallAnswered += HandleCallAnswered;
        UserService.OnShowSnackbar += HandleShowSnackbar;
        
        //await UserService.InitializeAsync(Navigation.BaseUri, LocalStorage);
        await JSRuntime.InvokeVoidAsync("initializeUserService", DotNetObjectReference.Create(UserService));
        await JSRuntime.InvokeVoidAsync("initializeDragAndDrop");
    }

    private void HandleShowSnackbar(string obj)
    {
        Snackbar.Add(obj, Severity.Success);
    }

    private void HandleCallAnswered(string username, string answeringClientConnectionId)
    {
        if (username == UserService.CurrentUser.UserName)
        {
            showIncomingCallDialog = false;
        }

        if (answeringClientConnectionId == UserService.CurrentUser.ConnectionId)
        {
            _answeringClientConnectionid = answeringClientConnectionId;
            Console.WriteLine($"Call answered by: {username}, connectionId: {answeringClientConnectionId}");
        }
        else
        {
            _answeringClientConnectionid = null;
        }

        callMessage = null;
        isCalling = false;
        _callingClientConnectionid = null;
        InvokeAsync(StateHasChanged);
    }

    private void HandleCallRejected(string caller)
    {
        if (caller == UserService.CurrentUser.UserName)
        {
            showIncomingCallDialog = false;
        }

        callMessage = null;
        isCalling = false;
        callingUser = null;
        _callingClientConnectionid = null;
        receivingUser = null;
        _answeringClientConnectionid = null;
        UserService.ClearCallingClientConnectionId();
        UserService.ClearAnsweringClientConnectionId();
        InvokeAsync(StateHasChanged);
    }

    private async Task InitiateCall(UserInfo user)
    {
        var username = user.UserName;
        Console.WriteLine($"Connecting to {username}");
        isCalling = true;
        receivingUser = username;
        callingUser = UserService.CurrentUser.UserName;
        callMessage = $"Calling {username}...";
        await UserService.InitiateCall(username, useVideo);
    }

    private async Task AnswerCall()
    {
        Console.WriteLine($"Answering call from {callingUser}");
        isInCall = true;
        isCalling = false;
        showIncomingCallDialog = false;
        receivingUser = UserService.CurrentUser.UserName;
        await UserService.AnswerCall(callingUser);
        await UserService.ConnectToUser(callingUser, useVideo, _callingClientConnectionid);
    }

    private async Task RejectCall()
    {
        Console.WriteLine($"Rejecting call from {callingUser}");
        isCalling = false;
        showIncomingCallDialog = false;
        await UserService.RejectCall(callingUser);
        callingUser = null;
        _callingClientConnectionid = null;
        _answeringClientConnectionid = null;
        UserService.ClearCallingClientConnectionId();
        UserService.ClearAnsweringClientConnectionId();
        receivingUser = null;
    }

    private async Task EndCall()
    {
        Console.WriteLine("Ending call");
        if (!string.IsNullOrEmpty(callingUser))
        {
            Console.WriteLine($"Ending call with {callingUser}");
            await UserService.EndCall(callingUser);
        }

        if (!string.IsNullOrEmpty(receivingUser))
        {
            Console.WriteLine($"Ending call with {receivingUser}");
            await UserService.EndCall(receivingUser);
        }

        receivingUser = null;
        callingUser = null;
        isCalling = false;
        await JSRuntime.InvokeVoidAsync("webrtc.endCall");
        isInCall = false;
        UserService.ClearCallingClientConnectionId();
        UserService.ClearAnsweringClientConnectionId();
    }

    private void HandleCallStarted(string userName)
    {
        Console.WriteLine($"Call started with {userName}");
        receivingUser = userName;
        isInCall = true;
        isCalling = false;
        callMessage = null;
        InvokeAsync(StateHasChanged);
    }

    private void HandleCallEnded(string userName)
    {
        Console.WriteLine($"Call ended by {userName}");
        receivingUser = null;
        isInCall = false;
        isCalling = false;
        callMessage = null;
        callingUser = null;
        receivingUser = null;
        _answeringClientConnectionid = null;
        _callingClientConnectionid = null;
        JSRuntime.InvokeVoidAsync("webrtc.endCall");
        UserService.ClearCallingClientConnectionId();
        UserService.ClearAnsweringClientConnectionId();
        InvokeAsync(StateHasChanged);
    }

    private void HandleIncomingCall(string caller, bool isVideoCall, string callerConnectionId)
    {
        useVideo = isVideoCall;
        requestVideoCall = isVideoCall;
        var callType = isVideoCall ? "video" : "audio";
        callingUser = caller;
        _callingClientConnectionid = callerConnectionId;
        receivingUser = UserService.CurrentUser.UserName;
        incomingCallMessage = $"Incoming {callType} call from {caller}";
        showIncomingCallDialog = true;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        UserService.OnUsersUpdated -= StateHasChanged;
        UserService.OnCallStarted -= HandleCallStarted;
        UserService.OnCallEnded -= HandleCallEnded;
        UserService.OnIncomingCall -= HandleIncomingCall;
    }

    private async Task ToggleFullScreen()
    {
        await JSRuntime.InvokeVoidAsync("toggleFullScreen", "videoContainer");
    }

    private async Task StopVideo()
    {
        isVideoStopped = !isVideoStopped;
        await JSRuntime.InvokeAsync<object>("webrtc.stopVideo", isVideoStopped);
    }

    private async Task MuteAudio()
    {
        isAudioMuted = !isAudioMuted;
        await JSRuntime.InvokeAsync<object>("webrtc.muteAudio", isAudioMuted);
    }

    private async Task TakeScreenshot()
    {
        await JSRuntime.InvokeVoidAsync("webrtc.takeScreenshot");
    }

    private async Task ShareScreen()
    {
        isScreenShared = true;
        await JSRuntime.InvokeVoidAsync("webrtc.shareScreen");
    }

    private async Task StopScreenShare()
    {
        isScreenShared = false;
        await JSRuntime.InvokeVoidAsync("webrtc.stopScreenShare");
    }

    private async Task UploadFiles(IBrowserFile file)
    {
        const long maxFileSize = 100 * 1024 * 1024; // 100 MB in bytes

        if (file.Size > maxFileSize)
        {
            Console.WriteLine("File size exceeds the maximum limit of 100 MB.");
            return;
        }

        var buffer = new byte[file.Size];
        await file.OpenReadStream(maxFileSize).ReadAsync(buffer);
        await JSRuntime.InvokeVoidAsync("webrtc.sendFile", file.Name, file.Size, buffer);
    }


    private async Task SwapVideoStreams()
    {
        await JSRuntime.InvokeVoidAsync("webrtc.swapVideoStreams");
    }

}